---
---
{% include header.html %}

<table width="760" border="0" cellspacing="0" cellpadding="0">
  <tr> 
    <td><img src="../images/mgmttm.gif" height="89" alt="管理团队"></td>
    <td bgcolor="#F0FAFF" width="210">&nbsp;</td>
  </tr>
  <tr> 
    <td width="550" valign="top" rowspan="2"> 
      <center>
        <table width="500" border="0" cellspacing="0" cellpadding="0">
          <tr> 
            <td> <br>
              <b><font color="#3366CC">当前位置：</font> </b><a href="/" class="a5">阿卡首页</a> 
              <font color="#458DE4">&gt;</font> <a href="/company/index.html" class=a5>公司事务</a> <font color="#458DE4">&gt; 
              <a href="/company/mgmt/index.html" class=a5>管理团队</a></font>  &gt; 
		<a href="/company/mgmt/executivemgmt.html" class=a5>管理执行</a>
              <p><span class="newstitle">管理执行</span></p>
              <center>
                <table width="450" border="0" cellspacing="0" cellpadding="0">
                  <tr> 
                    <td width="120" valign="top"><b><font color="#CC6600">瞿华</font></b></td>
                    <td> 
                      <p>技术总监</p>
                      <p>- 毕业于清华大学机械工程与自动化系，清华大学优良奖学金获得者，工学学士</p>
                      <p>- 曾于2000年合作出版《Linux网络编程》（机械工业出版社，ISBN7-111-07677-X）</p>
                      <p>&nbsp;</p>
                      </td>
                  </tr>
                  <tr> 
                    <td width="120" valign="top"><b><font color="#CC6600">林凡</font></b></td>
                    <td> 
                      <p>高级顾问</p>
                      <p>- 毕业于清华大学计算机系，清华大学特等奖学金获得者</p>
                      <p>- 曾任清华计算机系科协副主席、网管组长，水木清华BBS系统安全版版主</p>
					  <p>- 曾任北京维亿耐特公司系统工程师，负责项目设计和系统维护</p>
					  <p>- 曾任沙岭公司（ChinaRen.com）系统工程师，负责核心系统的开发工作</p>
                      <p>&nbsp;</p>
                      </td>
                  </tr>
                  <tr> 
                    <td width="120" valign="top"><b><font color="#CC6600">周旭鸿</font></b></td>
                    <td> 
                      <p>市场部总监，总企划</p>
                      <p>- 负责公司市场策划及其销售事务</p>
                      <p>- 清华大学机械工程及自动化专业工学硕士</p>
					  <p>- 曾任北京普源精电科技有限公司（Rigol Electronic）广告部经理助理，负责公司虚拟仪器产品的广告策划、推广与公关工作。</p>
					  <p>- 曾任北京美约华文化教育公司中方英语教师，担任留学英语考试课堂教学和英文教材编辑工作。</p>
                      <p>&nbsp;</p>
                      </td>
                  </tr>
                  <tr> 
                    <td width="120" valign="top"><b><font color="#CC6600">戎丽平</font></b></td>
                    <td> 
                      <p>总裁助理</p>
						<p>- 负责公司财务管理和人力资源部事务</p>
						<p>- 北京市财贸管理干部学院财务专业本科</p>
						<p>- 曾任繁星西单商场连锁超市配送中心计算机中心经理助理，负责公司的物流配送业务</p>
						<p>- 曾任中租广告公司行政部经理助理</p>
                      <p>&nbsp;</p>
                      </td>
                  </tr>
                </table>
              </center>
              <p>&nbsp;</p>
            </td>
          </tr>
        </table>
      </center>
    </td>
    <td width="210" valign="top" bgcolor="#F0FAFF"> 
      <table width="210" border="0" cellspacing="8" cellpadding="3">
        <tr> 
          <td colspan="2">&nbsp;</td>
        </tr>
        <tr> 
          <td bgcolor="C3D4F4" colspan="2"> 
            <div align="left"><b><font color="032B7A" face="Arial">公司事务</font></b></div>
          </td>
        </tr>
        <tr> 
          <td width="27"> 
            <div align="right"><img src="../../image/leadarrow.gif" width="5" height="10"> 
            </div>
          </td>
          <td width="159"><a href="../about/index.html" class="a6">关于我们</a></td>
        </tr>
        <tr> 
          <td width="27"> 
            <div align="right"><img src="../../image/leadarrow.gif" width="5" height="10"> 
            </div>
          </td>
          <td width="159"><a href="../about/companymilestones.html" class="a6">公司历程</a></td>
        </tr>
        <tr> 
          <td bgcolor="C3D4F4" colspan="2"> 
            <div align="left"><font color="032B7A"><b><font face="Arial">管理团队</font></b></font></div>
          </td>
        </tr>
        <tr> 
          <td> 
            <div align="right"><img src="../../image/leadarrow.gif" width="5" height="10"></div>
          </td>
          <td><a href="executivemgmt.html" class="a6">管理执行</a></td>
        </tr>
        <tr> 
          <td> 
            <div align="right"><img src="../../image/leadarrow.gif" width="5" height="10"></div>
          </td>
          <td><a href="board.html" class="a6">董事会</a></td>
        </tr>
      </table>
      <br>
    </td>
  </tr>
  <tr> 
    <td width="210" valign="bottom" bgcolor="#F0FAFF">&nbsp; </td>
  </tr>
</table>
{% include footer.html %}

