---
---
{% include header.html %}

<table width="760" cellspacing="0" cellpadding="0">

  <tr> 

    <td width="550" valign="top"> 

      <table width="500" cellspacing="0" cellpadding="0" align="center">

        <tr>

          <td valign="top"> 

            <p><br>

              <b><font color="#3366CC">当前位置：</font></b><a href="/" class="a5">阿卡首页 

              </a><font color="#458DE4">&gt;</font> <a href="../index.shtml" class="a5">客户服务</a> 

              <font color="#458DE4">&gt;</font> <span class="a5">定购</span> </p>

            <p class="newstitle">在线定购</p>

            <table width="75%" border="0" cellspacing="2" cellpadding="2">

              <tr> 

                <td width="25%"> 

                  <div align="center"><span class="newssubtitle"><a href="vpn/index.shtml"><img src="images/VPN-Product.jpg" width="150" height="180" border="0" alt="教育网出国VPN"></a></span></div>

                </td>

                <td width="25%"> 
                <div align="center"><span class="newssubtitle"><img src="images/browser.jpg" width="150" height="180" alt="浏览器定制"></span></div>

                </td>

              </tr>

              <tr> 

                <td width="50%"> 

                  <div align="center"><a href="vpn/index.shtml" class="a4">出国VPN服务</a></div>

                </td>

                <td width="50%"> 
                  <div align="center">浏览器定制</div>
				

                </td>

              </tr>

            </table>

            <table width="75%" border="0" cellspacing="2" cellpadding="2">

              <tr> 

                <td width="50%"> 
                  <div align="center"><span class="newssubtitle"><img src="images/zixialinux.jpg" width="150" height="180" alt="zixia linux"></span></div>
 
                </td>

                <td width="50%">
                  <!--
                  <div align="center"><span class="newssubtitle"><a href="idl/index.shtml"><img src="images/idl.jpg" width="150" height="180" border="0" alt="国际驾驶执照"></a></span></div>
-->
                </td>

              </tr>

              <tr> 

                <td width="25%"> 
                  <div align="center">zixia Linux</div>

                </td>

                <td width="25%"> 

<!--
                  <div align="center"><a href="idl/index.shtml" class=a4>国际驾驶执照</a></div>
-->

                </td>

              </tr>

            </table>

            <p>&nbsp;</p><form name="form2" method="post" action=""></form>

          </td>

        </tr>

      </table>

    </td>

    <td width="210" bgcolor="#F0FAFF" valign="top"> 

      <table width="210" border="0" cellspacing="8" cellpadding="3">
        <tr> 
          <td colspan="2">&nbsp;</td>
        </tr>
        <tr> 
          <td bgcolor="C3D4F4" colspan="2"> <div align="left"><font color="032B7A"><b><font face="Arial"> 
              相关链接</font></b></font></div></td>
        </tr>
        <tr> 
          <td> <div align="right"><img src="../../image/leadarrow.gif" width="5" height="10"></div></td>
          <td><a href="../../serv_prod/index.shtml" class="a6">产品与服务</a></td>
        </tr>
        <tr> 
          <td> <div align="right"></div></td>
          <td>&nbsp;</td>
        </tr>
        <tr> 
          <td> <div align="right"></div></td>
          <td><a href="/" class="a6"></a></td>
        </tr>
      </table>

    </td>

  </tr>

</table>

{% include footer.html %}
