---
---
{% include header.html %}


<table width="760" cellspacing="0" cellpadding="0">

  <tr> 

    <td width="550" valign="top"> 

      <table width="500" cellspacing="0" cellpadding="0" align="center">

        <tr> 
          <td valign="top"> <p><br>
              <b><font color="#3366CC">当前位置:</font> </b><a href="/index.shtml" class="a5">阿卡首页</a> 
              <font color="#458DE4">&gt;</font> <a href="/serv_prod/index.shtml" class="a5">产品与服务</a><font color="#458DE4">&gt; 
              <a href="index.shtml" class=a5>NAS</a> &gt;</font> <font color="#458DE4">FAQ</font></p>
            <table width="475" cellspacing="0" cellpadding="0">
              <tr> 
                <td height="28" background="/serv_prod/images/bluegradient.gif" class="newstitle">FAQ</td>
              </tr>
            </table> <p><strong>为什么企业如此对存储网络感兴趣？</strong></p>
            <p> 为数不少的信息科技正在驱使网络方式发展的存储。包括：</p>
            <ul>
              <li> 不同的用户和应用需要访问同一个数据和数据源 </li>
              <li> 专有功能的设备全面提供更高的性能、可靠性和低拥有成本。需求不断上升 </li>
              <li> 习惯使用TCP/IP、NFS或CIFS作为网络协议 </li>
              <li> 要求提供一套具有更大竞争力的应用对应用解决方案 </li>
              <li> 需要降低管理成本和复杂性 </li>
              <li> 可以分段扩展的信息基建系统但又不需要增加人手 </li>
              <li> 可以随意在目前的信息基建系统中从新布局以避免其他硬件和专业开销的成本 </li>
            </ul>
            <p> <strong>为什么NAS网络存储技术在这几年如此受欢迎？</strong></p>
            <p> 由于今天的大型信息基建的存储容量和I/O吞吐量的需求大幅攀升。驱使很多用户把存储设备从服务器转向到网络存储的方向。正如打印机的发展趋势是脱离文件服务器而成为一个直接连接到以太网的网络打印服务器。一个非常强大的需求正在发展让专有用途服务器在取代传统的通用服务器。这些全用或特殊用途的设备能在专有的功能领域中提供更佳的可靠性，可管理性和高性能。NAS网络存储系统提供更高的性能，更快的响应时间和更低的拥有成本。全都是企业在从新规划他们的存储系统时必须考虑的印数。 
            </p>
            <p> <strong>我的单位一直采用直接连接到服务器的存储设备。为什么我需要考虑网络存储？</strong></p>
            <p> 以直接连接到服务器方式操作的存储设备，包括SCSI 磁盘阵列不能提供网络存储NAS和存储网络SAN所能提供的自由扩展，高可靠性，带宽，快速响应和web界面管理等的先进功能和手段以满足现代化信息产业结构的发展。 
            </p>
            <p> <strong>选择NAS存储方案是否会为我的企业节省经费？</strong></p>
            <p> 根据工业界著名的分析机构 Gartner Group的分析。启用NAS服务器的机构由于可以灵活的调整他们的存储系统，长远而言能为企业节省这方面的经费多达88％！</p>
            <p> <strong>Roc NAS系统能否同时提供文件服务给我网络上有的UNIX和Windwos用户？</strong></p>
            <p> 在阿卡信息技术的Roc NAS系统里，UNIX用户能看见的是一个在网络上完全以UNIX为基础的文件系统。而对于Windows用户而言，他们所看见的虽然也是同一个存储系统，但完全是以Windows为基础的访问方式。 
              <br>
              <br>
            </p></td>

        </tr>

      </table>

    </td>

    <td width="210" bgcolor="#F0FAFF" valign="top"> 

      <table width="210" border="0" cellspacing="8" cellpadding="3">

        <tr> 

          <td colspan="2">&nbsp;</td>

        </tr>

        <tr> 

          <td bgcolor="C3D4F4" colspan="2"> 

            <div align="left"><font color="032B7A"><b><font face="Arial"> 相关链接</font></b></font></div>

          </td>

        </tr>

        <tr> 

          <td> 

            <div align="right"><img src="/image/leadarrow.gif" width="5" height="10"></div>

          </td>

          <td><a href="/serv_prod/index.shtml" class="a6">产品与服务</a></td>

        </tr>

      </table>

    </td>

  </tr>

</table>

{% include footer.html %}
