.a9 { FONT-FAMILY: Tahoma; FONT-SIZE: 9px }
.freeline {FONT-SIZE: 9pt; LINE-HEIGHT: 210%}
A {COLOR: #00008b; TEXT-DECORATION: none}
A:hover {TEXT-DECORATION: underline}
.formText {BORDER-BOTTOM: #d0d0d0 1px solid; BORDER-LEFT: #818181 1px solid; BORDER-RIGHT: #d0d0d0 1px solid; BORDER-TOP: #818181 1px solid; FONT-FAMILY: 宋体; FONT-SIZE: 12px}
.formSelect {FONT-FAMILY: 宋体; FONT-SIZE: 12px}
.formSubmit {BACKGROUND-COLOR: #ceffce; BORDER-BOTTOM-WIDTH: 1px; BORDER-LEFT-WIDTH: 1px; BORDER-RIGHT-WIDTH: 1px; BORDER-TOP-WIDTH: 1px; FONT-FAMILY: 宋体; FONT-SIZE: 12px; PADDING-LEFT: 2px; PADDING-RIGHT: 2px; PADDING-TOP: 4px}
BODY {FONT-FAMILY: 宋体; FONT-SIZE: 9pt}
TABLE {FONT-FAMILY: 宋体; FONT-SIZE: 9pt}
P {COLOR: #336699; LINE-HEIGHT: 150%}
.t {  font-size: 10.8pt; font-weight: bold; line-height: 200%}
.inputflat {  font-size:9pt; background-color: rgb(210,233,255); color: rgb(0,0,128)}
input {font-size: 9pt; background-color: rgb(210,233,255);border: 1 solid #000000}