---
---
{% include header.html %}


<table width="760" border="0" cellspacing="0" cellpadding="0">
  <tr> 
    <td width="550" height="224" valign="top"> 
      <center>
      <table width="500" cellspacing="0" cellpadding="0">
        <tr>
            <td> <br>
			<b><font color="#3366CC"><br>
                当前位置：</font> </b><a href="/" class="a5">阿卡首页</a> <font color="#458DE4">&gt; 
                </font><a href="/solution/vpn/edu/personal/usage.shtml" class="a5">阿卡直通车</a><font color="#458DE4">&gt; 
                </font><a href="/solution/vpn/edu/personal/package.shtml" class="a5">直通车优惠套餐</a><br>
				<br>
			<br>
			<p><span class="newstitle">阿卡直通车优惠套餐</span></p>
			<br>
            </td>
        </tr>
      </table>
      </center>
      <div align="left"> 
        <table width="500" cellspacing="0" cellpadding="0" align="center">
          <tr> 
            <td bgcolor="#006699" height="14">
              <table width="500" cellspacing="0" cellpadding="0" align="center">
                <tr> 
                  <td bgcolor="#FFFFFF" height="14">

<p><font size=+1>聊天面对面！
给你一个真诚交流的平台！</font></p>
<p>Aka，致力于为教育网内的用户提供高效、稳定、廉价的出国VPN服务。自推出直通车以
来受到很多用户的关注和支持！</P>
<p>为了提供给用户更多更好的服务，现特别推出新用户注册优惠套餐！只要您在Aka注册一
个直通车帐号并通过注册，就能买到低于实际市场价格很多的视频、语音聊天套餐！</p>
<p>套餐A：35万像素USB彩色摄像头＋新用户直通车一个月包月费用<br>
优惠价：288￥</p>
<p>套餐B：高品质加长连接线耳麦＋新用户直通车一个月包月费用<br>
优惠价：88￥</P>
<p>套餐C：超值摄像头＋超值耳麦＋新用户直通车一个月包月费用<br>
超值价：300￥
</p>
<p>摄像头资料图片请看这里：<a href="camera.shtml" class=a5>摄像头宣传彩页</a></p>
<p>注：购买套餐的用户，每月实际消耗帐户费用按当月实际收费标准计算</br>
    此次优惠活动最终解释权归北京阿卡信息技术有限公司所有</p>

<p>快快建立属于你和朋友之间的专用高速交流通道吧！无须麻烦，一切皆有Aka为您搞定！</p>

<p>详情敬请垂询：(010)62200680</p>
                    <p>&nbsp;</p>
                    <p>&nbsp;</p>
                  </td>
                </tr>
              </table>
            </td>
          </tr>
        </table>
        
      </div>
    </td>
    <td width="210" height="224" bgcolor="F0FAFF" valign="top">&nbsp;
      <table width="210" cellspacing="0" cellpadding="0">
        <tr> 
          <td height="120">&nbsp;</td>
        </tr>
        <tr> 
          <td>
            <table width="210" cellspacing="8" cellpadding="3">
              <tr> 
                <td bgcolor="C3D4F4" colspan="2"><b><font face="Arial, Helvetica, sans-serif" color="032B7A">相关链接</font></b></td>
              </tr>
              <tr> 
                <td width="27"> 
                  <div align="right"><img src="../image/leadarrow.gif" width="5" height="10"></div>
                </td>
                <td><a href="../serv_prod/index.shtml" class="a6">产品与服务</a></td>
              </tr>
              <tr> 
                <td width="27"> 
                  <div align="right"><img src="../image/leadarrow.gif" width="5" height="10"></div>
                </td>
                <td><a href="../customer/index.shtml" class="a6">客户服务</a></td>
              </tr>
            </table>
          </td>
        </tr>
        <tr>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <td>&nbsp;</td>
        </tr>
      </table>
</td>
  </tr>
</table>
{% include footer.html %}

