---
---
{% include header.html %}


<table width="760" cellspacing="0" cellpadding="0">

  <tr> 

    <td width="550" valign="top"> 

      <table width="500" cellspacing="0" cellpadding="0" align="center">

        <tr> 
          <td valign="top"> <p><br>
              <b><font color="#3366CC">当前位置:</font> </b><b> </b><a href="/index.html" class="a5">阿卡首页</a> 
              <font color="#458DE4">&gt;</font> <a href="/serv_prod/index.html" class="a5">产品与服务</a><font color="#458DE4">&gt; 
              SouKe中英文站内全文搜索引擎</font><font color="#458DE4"> </font><font color="#458DE4"> 
              </font><font color="#458DE4"> </font><font color="#458DE4">&gt;</font> 
              <font class=a4>特点</font></p>
            <table width="475" cellspacing="0" cellpadding="0">
              <tr> 
                <td height="28" background="/serv_prod/images/bluegradient.gif" class="newstitle">SouKe中英文站内全文搜索引擎特点</td>
              </tr>
            </table>
            <ul>
              <li><strong>强大的信息搜集能力</strong><br>
                本系统突破了传统搜索引擎的禁区，能够处理所有的动态页面信息。传统的搜索引擎为了防止掉入CGI陷阱中，一般都不敢处理动态页面。所谓的CGI陷阱指的是由于网络服务器动态计算产生的页面具有很大的不确定性，造成页面搜集程序循环访问同一个URL。通过我们的分析发现，目前绝大部分网站都采用各种脚本制作动态页面，因此如果不能对动态页面进行处理，那么这种检索系统是不完备的。本系统采用了独有的技术完全克服了这方面的困难，从而具有更强的信息搜集能力。<br>
              </li>
              <li><strong>检索速度快</strong><br>
                一般的非专业的检索系统都是采用数据库系统完成的，这种系统的响应时间一般都在10秒左右（对于大数据量）。而本系统的响应时间一般都在0.02秒左右，网络传输时间一般在1秒左右，因此总体响应时间在1-2秒内。这种速度完全可以满足用户的需求。<br>
              </li>
              <li> <strong>支持复合检索</strong><br>
                通常情况下用户的检索是复合条件的，例如检索“新闻中心 +主任”，用户想了解新闻中心的主任的一些信息。本系统支持“+、-”操作符，完全可以满足用户的检索需求。在这一点上，我们的系统同通用的搜索引擎系统是一致的。<br>
              </li>
              <li><strong>支持分类检索</strong><br>
                目前上规模的网站一般都会将网站的信息划分为若干个频道，例如：www.chinaedu.edu.cn——中国教育信息网主要分为教育产品、招考中心、教育图书、科普长廊、教育动态、科研天地、学生社区、家长时段、职业培训、海外视窗、信息化成就展等几个主要的频道。这样就给站内全文检索系统提出了新的要求，应该不仅能够在整个网站内部进行检索，而且还能够将检索的范围限制在某个频道内部。基于这种需求，Souke提供了分频道检索的功能。<br>
              </li>
              <li> <strong>支持按照更新时间范围检索</strong><br>
                对于报社类网站、新闻类站点，时间显得尤为重要，针对这种需求，Souke提供了按照时间范围进行检索的功能，用户可以选择搜索的起止时间进行全文检索，这样更加体现了新闻的时效性。<br>
              </li>
              <li><strong>支持多种排序方式</strong><br>
                传统的搜索引擎一般都是按照相关度进行排序的，Souke(V2.0)不仅在结果相关度排序上进行性能上的改进，而且提供了对检索结果按照更新时间升序、按照更新时间降序等多种排序方式。这样一来，用户可以在最重要的检索结果中轻松地挑选出自己感兴趣的时间段的结果。<br>
              </li>
              <li><strong>支持模糊检索</strong><br>
                本系统支持“?”和“*”操作符，“?”操作符代表1个字符，“*”代表0个或多个字符。用户通过使用“?”和“*”操作符可以方便的使用模糊检索功能。<br>
                由于数据量非常大，一般的搜索引擎系统都没有模糊检索的功能，但是用户往往有这方面的需求，例如用户打算了解中科院下属某科研所信息，但是他无法准确记住单位的准确名称。如果对于传统的搜索引擎，实现这样的搜索非常困难。但是在我们这个系统里面，用户可以输入“中科院??所”或 
                “中科院*所”，系统就会自动检索出满足条件的记录。同样，如果用户不能准确记住要搜索的名称的准确写法，例如“张X京教授”，这里面的“X”代表不能准确写出的信息，用户只需要输入“张?京教授”，即满足搜索的要求。当然，如果用户输入“南京大学+张*教授”，可以检索出南京大学姓张的教授的相关信息。使用模糊检索功能，实现了让用户更加随心所欲的准确检索信息。<br>
              </li>
              <li> <strong>结果相关度高</strong><br>
                本系统通过对网页本身的分析结合权威页面的分析，能够保证检索结果中越重要的页面排放在最前面。例如：我们打算检索清华大学“新闻中心”，通过测试其他的搜索引擎系统，发现检索结果是一些页面内含有“新闻中心”这个词多的页面排放在前面，而这些页面都是无关紧要的一些小新闻，真正重要的清华大学新闻中心首页却没有出现在检索结果里面。本系统完全解决了这个问题，保证最权威的页面排放在最前面。<br>
              </li>
              <li><strong>动态生成文摘</strong><br>
                一般的搜索引擎产品的文摘部分仅仅是抽取了页面的前200～300个字节，很多情况下这部分内容同检索结果没有任何关系，用户根本无法从中获取什么有用的信息，从而不得不先访问这些页面才能知道真正的内容是什么。<br>
                本系统可以根据检索词的位置，从该检索词附近动态抽取文本作为文摘，从而极大地提高了用户的检索效率。<br>
              </li>
              <li> <strong>检索日志分析</strong><br>
                当您的网站被访问一段时间后，可以通过分析用户的检索日志来察看访客们到底对哪些信息最感兴趣、可以发现网站上的哪些信息是人们最关注的，这样便于网站更好地发展。<br>
              </li>
              <li> <strong>支持网页快照功能</strong><br>
                本系统可以将网页信息保存到本地硬盘中，这样用户在检索的时候可以直接察看系统硬盘中保存的页面，这样做的好处是：<br>
                第一：如果该页面已经不存在了，用户依然可以查阅该页面的信息；<br>
                第二：该页面将被动态标记关键字，便于用户查找最感兴趣的信息。<br>
              </li>
              <li> <strong>信息搜集、索引建立时间短，信息更新方便</strong><br>
                一般来说，对于一个包含一万个页面的站点的信息搜集和索引建立总体需要的时间约一个小时左右，不需要人工的干预。<br>
              </li>
              <li><strong>管理维护方便</strong><br>
                系统提供了Web支持，管理员能够利用浏览器在任何联网的计算机上进行系统的管理工作。<br>
              </li>
            </ul>
            <br> </td>

        </tr>

      </table>

    </td>

    <td width="210" bgcolor="#F0FAFF" valign="top"> 

      <table width="210" border="0" cellspacing="8" cellpadding="3">

        <tr> 

          <td colspan="2">&nbsp;</td>

        </tr>

        <tr> 

          <td bgcolor="C3D4F4" colspan="2"> 

            <div align="left"><font color="032B7A"><b><font face="Arial"> 相关链接</font></b></font></div>

          </td>

        </tr>

        <tr> 

          <td> 

            <div align="right"><img src="/image/leadarrow.gif" width="5" height="10"></div>

          </td>

          <td><a href="/serv_prod/index.html" class="a6">技术与服务</a></td>

        </tr>

      </table>

    </td>

  </tr>

</table>

{% include footer.html %}
